<?xml version="1.0" encoding="UTF-8"?>
<module <%= @IS_MAVEN ? 'org.jetbrains.idea.maven.project.MavenProjectsManager.isMavenModule="true"' : '' %> type="<%= @TYPE %>" version="4">
  <component name="NewModuleRootManager" inherit-compiler-output="true">
    <exclude-output />
    <content url="file://<%= @CONTENT %>" />
    <orderEntry type="inheritedJdk" />
    <% if @SDK_NAME %>
      <orderEntry type="jdk" jdkName="<%= @SDK_NAME %>" jdkType="<%= @SDK_TYPE %>" />
    <% end %>
    <orderEntry type="sourceFolder" forTests="false" />
  </component>
</module>